<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="shortcut icon" href="dist/assets/server-icon.png" type="image/x-icon">
     <link rel="icon" href="dist/assets/server-icon.png" type="image/x-icon">
     <title> Fabric.js Test </title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.0.0-beta.4/fabric.js"></script>
   </head>
   <body>
     <div id="app" class="container" v-cloak>

      <div class="step" v-show="step == 1">
          <progress-bar active="0"></progress-bar>

          <h2 class="step__title"> Select Your Frame <i v-if="loading" class="el-icon-loading"></i> </h2>  

          <div class="label-margin"> 1U Options </div>
          <el-row :gutter="10" class="asset-radio">
            <el-col :lg="12">
                <el-radio class="" v-model="frame_val" label="1u-rectangle"> <img src="dist/fonts/1u-rectangle.svg" style="width: 400px;" alt=""> </el-radio>                
            </el-col>  
            <el-col :lg="12">         
                <el-radio class="" v-model="frame_val" label="1u-dogbone"> <img src="dist/fonts/1u-dogbone.svg" style="width: 400px;" alt=""> </el-radio>
            </el-col>
          </el-row>
          
          <div class="label-margin"> 2U Options </div>
          <el-row :gutter="10" class="asset-radio">
            <el-col :lg="12">
              <el-radio class="" v-model="frame_val" label="2u-rectangle"> <img src="dist/fonts/2u-rectangle.svg" style="width: 400px;" alt=""> </el-radio>
            </el-col>
            <el-col :lg="12">
              <el-radio class="" v-model="frame_val" label="2u-dogbone"> <img src="dist/fonts/2u-dogbone.svg" style="width: 400px;" alt=""> </el-radio>
            </el-col>
          </el-row>

          <div v-show="frame_val" class="step__title">
            <h2 class="label-margin"> Pick a Frame Color </h2>
            <div class="color-input">
              <el-input v-model="frame_color_input"></el-input>
              <slider-picker v-model="frame_color" />
            </div>
          </div>

          <div class="label-margin">
              <el-button v-on:click="step += 1" :disabled="frame_val.length == 0">Next</el-button>
          </div>

      </div>

      <div class="step" v-show="step == 2">
          <progress-bar active="1"></progress-bar>

          <h2 class="step__title"> Select a Mesh <i v-if="loading" class="el-icon-loading"></i> </h2>

          <div v-if="server_size > 0"> 
            <div class="label-margin"> {{ server_size }}U mesh is available in partial or full coverage options </div> 
            <el-row :gutter="10" class="asset-radio">
              <el-col :lg="8">
                <el-radio class="" v-model="mesh_val" :label="server_size + 'u-circle'"> <img :src="'dist/fonts/' + server_size + 'u-circle.svg'" style="width: 250px;" alt=""> </el-radio>
              </el-col>
              <el-col :lg="8">
                <el-radio class="" v-model="mesh_val" :label="server_size + 'u-hex'"> <img :src="'dist/fonts/' + server_size + 'u-hex.svg'" style="width: 250px;" alt=""> </el-radio>
              </el-col>
              <el-col :lg="8">
                <el-radio class="" v-model="mesh_val" :label="server_size + 'u-square'"> <img :src="'dist/fonts/' + server_size + 'u-square.svg'" style="width: 250px;" alt=""> </el-radio>
              </el-col>
            </el-row>
          </div>

          <div v-if="server_size == 0">
            <div> Please go back and select a frame </div>
          </div>

          <div v-show="mesh_val" class="step__title">
            <h2 class="label-margin"> Pick a Mesh Color </h2>
            <div class="color-input">
              <el-input v-model="mesh_color_input"></el-input>
              <slider-picker v-model="mesh_color" />
            </div>
          </div>

          <div class="label-margin">
              <el-button v-if="step > 1" v-on:click="step -= 1">Back</el-button> 
              <el-button v-if="step < 4" v-on:click="step += 1" :disabled="mesh_val.length == 0">Next</el-button>
          </div>
      </div>

      <div class="step" v-show="step == 3">
          <progress-bar active="2"></progress-bar>

          <h2 class="step__title"> Select a Base <i v-if="loading" class="el-icon-loading"></i> </h2>

          <el-row :gutter="10" class="flex-center">
            <el-col :lg="4"><el-radio class="badge" v-model="badge_val" label="circle"> Circle </el-radio></el-col>
            <el-col :lg="4"><el-radio class="badge" v-model="badge_val" label="square"> Square </el-radio></el-col>
            <el-col :lg="4"><el-radio class="badge" v-model="badge_val" label="rectangle"> Rectangle </el-radio></el-col>
            <el-col :lg="4"><el-radio class="badge" v-model="badge_val" label="pill"> Pill Shape </el-radio></el-col>
            <el-col :lg="4"><el-radio class="badge" v-model="badge_val" label="none"> No Logo </el-radio></el-col>
          </el-row>
          
          <div v-show="badge_val">
            <h2 class="step__title"> Upload Your Logo  </h2>

            <div>
              <el-button @click="save_badge"> Save </el-button>
              <input type="file" id="imgLoader">
              <canvas id="logo_canvas"></canvas>
            </div>
          </div>

          <div v-show="badge_val" class="step__title">
              <h2 class="label-margin"> Choose a Badge Color </h2>
              <div class="color-input">
                <el-input v-model="badge_color_input"></el-input>
                <slider-picker v-model="badge_color" />
              </div>
          </div>

          <div class="label-margin">
              <el-button v-if="step > 1" v-on:click="step -= 1">Back</el-button> 
              <el-button v-if="step < 4" v-on:click="step += 1" :disabled="badge_val.length == 0">Next</el-button>
          </div>

          <div class="preview-container" v-show="step === 3">
            <canvas id="badge_only"></canvas>
          </div>

      </div>

      <div class="step" v-show="step == 4">
          <progress-bar active="3"></progress-bar>

         <h2 class="flex-center"> Place Your Logo <i v-if="loading" class="el-icon-loading"></i> </h2>
         <!-- <h2> 
           y: {{ Math.round(badge.top) }} 
           x: {{ Math.round(badge.left) }} 
           angle: {{ Math.round(badge.angle) }} 
         </h2> -->

        <div style="margin: 20px 0;">
            <el-button v-if="step > 1" v-on:click="step -= 1">Back</el-button> 
            <el-button v-if="step < 4" v-on:click="step += 1" :disabled="badge_val.length == 0">Next</el-button>
        </div>

      </div>

      <div class="preview-container" v-show="step !== 3">
        <img src="assets/server_crop.jpg" alt="server">
        <canvas id="c"></canvas>
      </div>

     </div>
   </body>
 </html>