// Main title
.main-title {
    position: relative;
    color: $color-green;
    font-weight: 400;
    padding: 40px 0;
    text-align: center;
}

.nav {
    &__item {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid transparent;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
            color: $color-green;
        }
        &.active {
            font-weight: bold;
            border: 2px solid $color-green;
            border-bottom: 2px solid transparent;
            color: $color-green;
        }
    }
}

.loading-circle {
    position: absolute;
    right: 0;
}

// Everything within a step
.step {
    padding: 45px;
    border: 1.5px solid $color-green;

    &__title {
      text-align: center;
      margin: 30px 0;
    }
  
    .color-input {
      display: flex;
      .el-input {
        margin-right: 20px;
        width: 100px;
      }
    }
  
    .upload-logo {
      .canvas-container {
        display: block;
        margin: 0 0 0 auto;
      }
    }

    &__footer {
        margin-top: 20px;
        text-align: right;
        button:hover {
            color: $color-green;
            border-color: $color-green;
        }
        button:focus {
            color: $color-black;
            border-color: $color-grey;
        }
    }
  
  }

// Radio buttons on the form input
.asset-radio {

    .el-radio {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &__input {
            margin-right: 10px;
        }
    }
}

.badge-radio {
    .el-col {
        margin-bottom: 15px;
    }
}

// Color Slider
.vc-slider-swatches {
    margin-top: 10px !important;
}

// Containers
.badge-buttons {
    width: 50%;
}
.badge-preview {
    width: 50%;
}

// Canvas Containers
.preview {
    
    &-container {
    position: relative; 
    margin: 40px 0;

    .canvas-container {
        position: absolute !important;
        top: 33%;
        left: 16%;
    }

    img {
        display: block;
        width: 812px;
        margin: 0 auto;
    }

    }

    canvas {
    position: absolute;
    }

    img {
    position: absolute;
    }

}