// Main title
.main-title {
    position: relative;
    color: $color-green;
    font-weight: 400;
    padding: 40px 0;
    text-align: center;
}

.nav {
    &__item {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid transparent;
        transition: all 0.2s ease;
        cursor: pointer;

        @media screen and (max-width: 1200px) {
            padding-top: 10px;
            padding-bottom: 10px;;
        }

        &:hover {
            color: $color-green;
        }
        &.active {
            font-weight: bold;
            border: 2px solid $color-green;
            color: $color-green;

            @media screen and (min-width: 1200px) {
                border-bottom: 2px solid transparent;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        margin-bottom: 20px;
    }
}

.loading-circle {
    position: absolute;
    right: 0;
}

// Everything within a step
.step {
    padding: 45px;
    border: 1.5px solid $color-green;

    &__title {
      text-align: center;
      margin: 30px 0;
    }
  
    .color-input {
      display: flex;
      .el-input {
        margin-right: 25px;
        width: 100px;
      }
    }
  
    .upload-logo {
        width: 350px;
        text-align: center;
        margin: 0 0 0 auto;

        @media screen and (max-width: 1200px) {
            margin: 0 auto;
        }

      .canvas-container {
        display: block;
      }
    }

    &__footer {
        margin-top: 20px;
        text-align: right;
        button:hover {
            color: $color-green;
            border-color: $color-green;
        }
        button:focus {
            color: $color-black;
            border-color: $color-grey;
        }
    }
  
  }

// Radio buttons on the form input
.asset-radio {

    .el-radio {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &__input {
            margin-right: 10px;
        }
    }
}

.badge-radio {
    .el-col {
        margin-bottom: 15px;
    }
}

// Color Slider
.vc-slider-swatches {
    margin-top: 10px !important;
}

// Canvas Containers
.preview {
    
    &-container {
    position: relative; 
    margin: 20px 0;

        &.two {
            .canvas-container {
                position: absolute !important;
                top: 44%;
                left: 8.1%;

                @media screen and (max-width: 992px) {
                    top: 24%;
                    left: 10.1%;
                }

                @media screen and (max-width: 768px) {
                    top: 105px;
                    left: 77px;
                }
            }
            img {
                display: block;
                width: 708px;
            }
        }

        &.one {
            margin: 50px 0;

            .canvas-container {
                position: absolute !important;
                top: 45%;
                left: 5.7%;

                @media screen and (max-width: 992px) {
                    top: 20%;
                    left: 7.7%;
                }

                @media screen and (max-width: 768px) {
                    top: 71px;
                    left: 55px;
                }
            }
            img {
                display: block;
                width: 707px;
            }
        }


    }

    // canvas {
    // position: absolute;
    // }

    // img {
    // position: absolute;
    // }

    &-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        padding-bottom: 30px;

        .el-button {
            min-width: 200px;
        }

        div {
            color: grey;
            font-style: italic;
        }
        
        @media screen and (max-width: 992px) {
            margin-top: 40px;
            position: static;
            text-align: center;
        }
    }

}

.preview-center {
    .canvas-container {
        margin: 0 auto;
    }
}

.color-input {
    position: relative;
    margin-bottom: 20px;
    .vc-slider {
        width: 78%;
        @media screen and (max-width: 992px) {
            width: 50%;
        }
    }

    &__clear {
        position: absolute;
        right: 0;
    }
}